.username {
  width: fit-content;
}

header > div {
  background-image: url("..\\img\\header-background.jpg");
  background-size: cover;
  /* background-color: red; */
}

.star-active {
  color: #fbc02d;
  margin-top: 10px;
  margin-bottom: 10px;
}

.star-active:hover {
  color: #f9a825;
  cursor: pointer;
}

.star-inactive {
  color: #cfd8dc;
  margin-top: 10px;
  margin-bottom: 10px;
}
